h1 {
    color: Purple;
}

h2 {
    color: Red;
}

img {
    width: 250px;
}

html {
    background-color: gold;
}

html {
    background: url("https://i.pinimg.com/originals/2b/65/a0/2b65a0d8ca600630afe4bc84f1f311af.jpg");
}